src/main/app/mule-splitter-warning.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="splitter-warning-flow" initialState="started">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/start" doc:name="HTTP"/>
        <logger message="values: #[message.inboundProperties['http.query.params'].values]" level="INFO" doc:name="Log values query param"/>
        <set-payload value="#[message.inboundProperties['http.query.params'].?values.split(',')]" doc:name="Set Payload"/>
        <foreach collection="#[payload]" doc:name="For Each">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <response>
            <set-payload value="Splitter warning example - values: #[message.inboundProperties['http.query.params'].values]" doc:name="Set Payload"/>
        </response>
    </flow>
</mule>
